* {
    font-family: Verdana, sans-serif;
    color: darkslategray;
}
html{
    background-color: #ededed;
}
fieldset legend{
    border: darkslategray 1px solid;
    border-radius: 5px;
    background-color: #F6F6F6;
}
.mainForm {
    padding: 1em;
    background-color: #E5E5E5;
    display: inline-block;
}
.radioForm{
    margin: 1em 0;
    padding: 1.5em;
    background-color: #F6F6F6;
}

.fieldGroup{
    float: left;
    width: auto;
    margin-left: 2.5em;
}

.textbox label{
    text-align: right;
    width: 150px;
    display: table-cell;
    padding: 1em;;
}

.textbox input{
    display: table-cell;
}

.textbox{
    margin: 1.5em;
    display: table-row;
}

.button {
    float: right;
    margin: 0 5px 10px 5px;
}

.submitResetButtons{
    margin-top: 2em;
    margin-bottom: 4em;
}

table, th, td{
    /*border: 1px black solid;*/
}

td{
    height: 20px;
}

tr:nth-of-type(odd){
    background: #cbcbcb;
}

tr:nth-of-type(even){
    background: #f5f5f5;
}

.highlight {
    background: #FFFF00 !important;
}